[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "CoplienGenerator"]
	path = CoplienGenerator
	url = https://github.com/Kerosene2000/CoplienGenerator.git
[submodule "sublime-settings-installer"]
	path = sublime-settings-installer
	url = https://github.com/Kerosene2000/sublime-settings-installer.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/skeeto/.emacs.d.git
