"*":
  "exception-reporting":
    userId: "39ae705d-c5d4-1801-ccdb-eeb401b3ee96"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
    softWrap: true
    scrollPastEnd: true
  core:
    projectHome: "~/Sync/42jobs"
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.o"
    ]
  "linter-rust":
    cargoPath: "/usr/local/bin/cargo"
    rustcPath: "/usr/local/bin/rustc"
  linter: {}
  "linter-clang":
    clangDefaultCFlags: "-Wall -Wextra -Werror"
    clangDefaultCppFlags: "-Wall -Wextra -Werror -std=c++11"
  minimap:
    absoluteMode: true
  term2: {}
  "git-diff": {}
  "tree-view":
    hideIgnoredNames: true
  tabs:
    usePreviewTabs: true
  "selection-counter":
    statusString: "Lines: %l"
